*{
    margin: 0;
    padding: 0;
}
body, html{
    background-image: url('./components/back.jpg');
    background-size: cover;
}
.logo{
    background-image: url('./components/logo.png');
    color: rgb(97, 47, 116);
    background-color: aqua;
    background-size: cover;
    border: none;
}
.nav{
    background-color: white;
    align-items: center;
    height: 10vh;
    display: flex;
}